
body{
  background-color:  darkorange;
  overflow-x: hidden;
}

.row{
  align-items: flex-end;
  height: 100vh;
  position: fixed;
}
#content .box{
  margin-top: 10%;
  position: relative;
}
#content .box img{
  width: 100%;
}
#content #thinker img{
  position: absolute;
  width: 100%;
  left: 65%;
  bottom: 0;
}
#content .box .txt{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  padding: 15%;
}
#content #outp, #cnome{
  font-size: 3rem;
  font-weight: bold;
}
#content #outp{
  text-align: center;
  color: darkorange;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  padding: 2px;
  border-radius: 15px;
  transition:background 0.4s ease;
}
#content #outp:hover{
  background: white;
  color: black;
  cursor: pointer;
}

@media (max-width:1302px) {
  h2{
    font-size: 1.4rem;
  }
  #content #outp, #cnome{
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@media (max-width: 768px){
  .row{
    height: 90vh;
  }
  h2{
    font-size: 1.5rem;
  }
  #content #outp, #cnome{
    font-size: 1.5rem;
    font-weight: bold;
  }
}
@media (max-width: 320px){
  h2{
    font-size: 1.2rem;
  }
  #content #outp, #cnome{
    font-size: 1.2rem;
    font-weight: bold;
  }
}
